body {
    background-color: #21243a;
    color: #839496;
    font-family: Menlo, Consolas;
    font-size: 16px;
}

::selection {
    color: #93a1a1;
    background: #073642;
}

#logs {
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
}

.log-entry {
    margin-bottom: 10px;
}

.log-timestamp {
    color: #073642;
    background-color: #fdf6e3;
}

.log-message {
    margin-left: 20px;
    color: #839496;
}

.container {
    color: #fdf6e3;
    display: flex;
    padding: 20px;
}

.box {
    margin-right: 40px;
}
p {
    color: #839496;
}

a {
    color: #fdf6e3;
    cursor: grab;
}
