body {
    background-color: #21243a;
    color: #839496;
    font-family: Menlo, Consolas;
    font-size: 16px;
}

#logs {
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
}

.log-message {
    margin-left: 20px;
    color: #839496;
}

.container {
    color: #fdf6e3;
    display: flex;
    padding: 20px;
}

.log-entry {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 8px;
    }

    #logs {
        padding: 16px;
    }

    .log-message {
        margin-left: 16px;
    }

    .container {
        padding: 16px;
    }
    .log-entry {
        margin-bottom: 8px;
    }
}

::selection {
    color: #93a1a1;
    background: #073642;
}

#next {
    color: #93a1a1;
}

.log-timestamp {
    color: #073642;
    background-color: #fdf6e3;
}

.box {
    margin-right: 40px;
}
p {
    color: #839496;
}

a {
    color: #fdf6e3;
}

button {
    border: none;
    background: none;
    padding: 0;
}
